{% extends 'base.html' %}
{% block content %}
<section id="indexsection">
    <div id="content" class="blog_main">
        <div class="indexcontent" id="guestbook">
            <h1>유저 업로드</h1>
            {% if board_list %}
            <table id="desktop_post_list" class="table">
                <colgroup>
                    <col class="text-center" style="width: 5%;">
                    <!-- <col class="text-center" style="width: 15%;"> -->
                    <col style="">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="text-center">번호</th>
                    <!-- <th class="text-center">카테고리</th> -->
                    <th class="text-center">글 제목</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody>
                    {% for board in board_list %}
                    <tr id="2" class="post_index">
                        <td class="text-center">{{board.id}}</td>
                        <!-- <td class="text-center">{{board.category_id}}</td> -->
                        <td><a href="{% url 'pybo:userupload_detail' board.id %}" class="board_subject">&nbsp;&nbsp;&nbsp;&nbsp;{{board.subject}}</a>&nbsp;&nbsp;</td>
                        <td class="text-center">{{ board.create_date }}</td>
                        <td class="text-center">{{ board.view_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if question_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in board_list.paginator.page_range %}
                {% if page_number >= board_list.number|add:-5 and page_number <= board_list.number|add:5 %}
                    {% if page_number == board_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ board_list.next_page_number }}" href="#">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
            <a href="{% url 'pybo:userupload_create' %}" class="btn btn-dark" role="button" data-bs-toggle="button">게시글 작성</a>
        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'pybo:userupload' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}